.outerContainer{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left , purple, #073278);
}
sup{
    color: red;
    font-size: 15px;
}
label{
    color: black;
}
.innerContainer{
   width: 400px;
   margin: auto;
   position:relative;
   top:20%;
   background-color: rgba(255, 255, 255, 0.53);
   backdrop-filter: blur(10px);
   padding: 1.6rem;
   border-radius: 1rem;
   box-shadow: 2px 2px 5px #2773a5;
   
}
.head h1{
    font-size: 2rem;
    letter-spacing: 0.1rem;
    color: rgb(0, 0, 0);
}
.head p{
    margin-top: 0.4rem;
    font-size: 0.9rem;
    color: rgb(43, 43, 43);
    font-weight: bold;
}
.form-content{
    padding: 1.2rem;
}
.form-content p{
    margin-top: 0.5rem;
}

.form-content p label{
    display: block;
    font-size: 0.8rem;
    font-weight: bold;
}
.form-content p input{
    background-color: transparent;
    border: 2px solid #ccc;
    font-size: 0.9rem;
    font-weight: bold;
    width: 100%;
    padding: 0.4rem;
    margin-top: 2px;
    border-radius: 0.3rem;
    
}
#avatar {
    display: none;
}
.profile-picButton{
    cursor: pointer;
    background-color: rgba(148, 0, 254, 0.51);
    width: 10rem;
    border-radius: 5px;
    padding: 0.4rem;
    &:hover {
        background-color: rgb(94, 3, 159);
    }
}
#form-submit{
    text-align: center;
    background-color: #3498db;
    border: none;
    color: white;
    padding: 0.7rem;
    margin-top: 10px;
    margin-left: 80px;
    font-weight: bolder;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
        background-color:  #084c7a;
    }
}
.already-haveAccount{
    font-size: 0.8rem;
}

// login extra css

#submitted{
    text-align: center;
    background-color: #3498db;
    border: none;
    color: white;
    padding: 0.7rem;
    margin-top: 10px;
    margin-left: 120px;
    font-weight: bolder;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
        background-color:  #084c7a;
    }
}
.link{
    text-decoration: none;
    color: rgba(255, 0, 0, 0.752);
    font-weight: bold;
}

