.containers{
   border: 1px solid black;  
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background:  linear-gradient(to top left , purple, #073278);
}
.form-detail{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 600px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.53);;
    .title{
        text-align: center;
        color: black;
    }
       
}
.form-container{
    display: flex;
    flex-direction: column;
    padding: 50px;
    >form input{
        margin-top: 10px;
    }
}

#newAvatar{
    display: none;
}
.usernameInput{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.526);
    font-size: 1.1rem;
    font-weight: bold;
    border: 1px solid black;
}
.new-detail{
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: black;
}
.newAvatar{
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    background-color: rgb(151, 6, 255);
    width: 10rem;
    border-radius: 5px;
    color: white;
    padding: 0.4rem;
    &:hover{
        background-color: rgba(151, 6, 255, 0.681);
    }
    &:active{
        background-color: white;
        color: rgb(151, 6, 255);
    }
    >label{
        cursor: pointer;
    }
}
.buttons{
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
    >.submit-button{
        background-color: blue;
        border-radius: 5px;
        padding: 10px;
        font-weight: bold;
        color: white;
        cursor: pointer;
        border: none;
        &:hover{
           background-color: rgb(57, 57, 249);
        }
        &:active{
            background-color: white ;
            color: blue;
        }
    }
    >.cancel-button{
        background-color: red;
        color: white;
        padding: 10px;
        border-radius: 5px;
        border: none;
        font-weight: bold;
        cursor: pointer;
        &:active{
            background-color: white;
            color: red;
        }
    }
}
.image-submit-container{
    display: flex;
    flex-direction: column;
    >.newAvatarLabel{
        margin-top: 5px;
        font-weight: bold;
    }
    >.image-submit-subclass{
        display: flex;
        align-items: center;
        gap: 20px;
    }
}
.remove-img{
    margin-top: 10px;
    font-size: 0.92rem;
    >button{
        cursor: pointer;
        border-radius: 5px;
        border: none;
        padding: 0.5rem;
        font-weight: bold;
        background-color: rgb(3, 74, 255);
        color: white;
    }
}